
/*----------BASIC SETUP----------*/

body, html {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}

.btn {
    transition: all 0.3s ease-in-out;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 200%;
}

section {
    padding: 3rem 0;
}

/*----------NAVBAR----------*/

.navbar {
    background-color: rgba(21,31,33,0.5);
    border-bottom: 1px solid #dedede;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #d1d1d1;
}

.navbar .navbar-brand {
    font-size: 150%;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

/*----------HEADER----------*/

header {
    background: url("../img/portfolio-background.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 250%;
    letter-spacing: 2px;
    font-weight: 800;
}

header h3 {
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: 300;
    color:#d1d1d1;
}

header .btn {
    margin-top: 1em;
    background-color: #ff7700;
    border-radius: 30px;
    border: 1px solid #ff7700;
    color: #fff;
    letter-spacing: 1px;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

header .btn:hover {
    color: #fff;
    background-color: #523a26;
}

/*----------ABOUT----------*/

#about p {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #959595;
}

#about .col-5 p {
    color: #000;
}

/*----------EDUCATION----------*/

#education ul.timeline a {
    color: #000;
    padding-bottom: 0.2em;
    font-size: 150%;
}

#education ul.timeline a:hover {
    text-decoration: none;
    border-bottom: 2px solid #ff7700;
}

#education ul.timeline p {
    color: #000;
    font-size: 100%;
}

#education ul.timeline {
    list-style-type: none;
    position: relative;
}

#education ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

#education ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

#education ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ff7700;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


/*----------SKILLS----------*/

#skills {
    background-image: url(../img/skills_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#skills .fas,
#skills .fab {
    font-size: 150%;
}

#skills .card {
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.5s;
}

#skills .card:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

/*----------PROJECTS----------*/

#projects .work-img {
    position: relative;
}

#projects .card .card-block {
    margin: 20px;
}

#projects .work-img .img-overlay {
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    background-image: url('../img/eye.png');
    background-position:center center;
    background-repeat:no-repeat;
    opacity:0;
    z-index:0;
    transition: display 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#projects .work-img .img-overlay:hover {
    opacity:1;
    z-index:1;
}

/*----------CONTACT----------*/

#contact .fab,
#contact .fas {
    font-size: 1.5em;
    color: #ff7700;
    border: 2px solid #ff7700;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    padding: 30% 0;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

#contact .fab:hover,
#contact .fas:hover {
    color:#fff;
    background:#ff7700;
}
#contact .btn {
    color: #000;
}

#contact .btn:hover {
    color: #fff;
    background-color: #ff7700;
    border: #ff7700;
}


/*----------FOOTER----------*/

#footer {
    padding: 2rem 0;
    background-color: #484848;
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer .fab, 
#footer .fas {
    padding: 5px;
}


@media (min-width: 768px) {
    
    header h1 {
        font-size: 400%;
    }
    
    #about .img-cont {
        overflow: hidden;
    }
    
    #about img {
        animation-name: scale;
        animation-duration: 20s;
    }
    
    @keyframes scale {
        from {transform: scale(1);}
        to {transform: scale(1.2);}
    }

}

@media (min-width: 1024px) {
    
    h2 {
        font-weight: 500;
        font-size: 250%;
    }
    
    #about p {
        font-size: 150%;
    }
    
}