* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#topBar {
    background-color: #f24b4b;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 80%;
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("sakura.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

#menuBar {
    height: 25%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px groove white;
}

#menuBar1 {
    flex: 10%;
    margin: 0;
}

#menuBar2 {
    flex: 80%;
    margin: 0;
}

#menuBar3 {
    flex: 10%;
    margin: 0;
}

#menuBar2 a:link,
#menuBar a:visited {
    color: white;
    text-decoration: none;
    font-size: 100%;
    padding-left: 40px;
}

#menuBar3 button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px groove white;
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-size: 100%;
    padding: 5px 10px;
    width: 100px;
    height: 100%;
}

#menuBar3 button:hover {
    background-color: rgba(244, 178, 211, 0.5);
}

#textBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
}

#text1 {
    color: white;
    font-size: 60px;
    margin-top: 90px;
    border-bottom: 1px groove white;
}

#textBar a {
    color: white;
    font-family: Calibri;
    text-decoration: none;
}

#textBar a:hover,
#menuBar2 a:hover {
    letter-spacing: 1px;
}

#picture img {
    width: 100%;
}
.bigText {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: justify;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;   
    padding-top: 10px;
}

#imgBar {
    padding: 50px;
    display: flex;
}

#imgBar img {
    width: 30%;
    margin: 0 auto;   
}

#imgBar img:hover {
    border-radius: 5%;
}

@media only screen and (max-width: 900px) {
    #menuBar2 {
        flex: 70%;
    }

    #menuBar2 a {
        display: none;
    }

    #menuBar3 {
        flex: 20%;
    }

    #textBar {
        align-items: center;
    }
}
